{
  "openapi": "3.0.0",
  "info": {
    "title": "api.x.com API Documentation",
    "version": "1.0.0",
    "description": "Auto-generated by WebDoc Agent from observed browser traffic on api.x.com.\nAnalyzed 20 API/polling call(s) across 20 endpoint group(s).\nCaptured: 2026-04-04T12:09:29.821Z\nSource: https://x.com | 20 total calls | 20 unique endpoints\nPages explored: News, Create account, Sign in, Sign up with Apple, Settings, Advertising, Developers, Download the X app\nSession duration: 3m 19s\nSecurity signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options, cors:access-control-allow-headers, cors:access-control-allow-methods, session-cookie:cookie, security-header:content-security-policy, csrf-header:x-csrf-token"
  },
  "servers": [
    {
      "url": "https://api.x.com"
    }
  ],
  "paths": {
    "/1.1/account/personalization/p13n_preferences.json": {
      "get": {
        "tags": [
          "1.1"
        ],
        "operationId": "get11",
        "summary": "GET /1.1/account/personalization/p13n_preferences.json",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "age_preferences": {
                      "type": "object",
                      "properties": {
                        "use_age_for_personalization": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "use_age_for_personalization"
                      ]
                    },
                    "gender_preferences": {
                      "type": "object",
                      "properties": {
                        "use_gender_for_personalization": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "use_gender_for_personalization"
                      ]
                    },
                    "language_preferences": {
                      "type": "object",
                      "properties": {
                        "disabled_languages": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "required": [
                        "disabled_languages"
                      ]
                    },
                    "location_preferences": {
                      "type": "object",
                      "properties": {
                        "use_location_for_personalization": {
                          "type": "boolean"
                        },
                        "override_times": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "required": [
                        "use_location_for_personalization",
                        "override_times"
                      ]
                    },
                    "interest_preferences": {
                      "type": "object",
                      "properties": {
                        "disabled_interests": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "disabled_partner_interests": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "required": [
                        "disabled_interests",
                        "disabled_partner_interests"
                      ]
                    },
                    "allow_ads_personalization": {
                      "type": "boolean"
                    },
                    "use_cookie_personalization": {
                      "type": "boolean"
                    },
                    "link_logged_out_devices": {
                      "type": "boolean"
                    },
                    "share_data_with_third_party": {
                      "type": "boolean"
                    },
                    "is_eu_country": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "age_preferences",
                    "gender_preferences",
                    "language_preferences",
                    "location_preferences",
                    "interest_preferences",
                    "allow_ads_personalization",
                    "use_cookie_personalization",
                    "link_logged_out_devices",
                    "share_data_with_third_party",
                    "is_eu_country"
                  ]
                },
                "example": {
                  "age_preferences": {
                    "use_age_for_personalization": true
                  },
                  "gender_preferences": {
                    "use_gender_for_personalization": true
                  },
                  "language_preferences": {
                    "disabled_languages": []
                  },
                  "location_preferences": {
                    "use_location_for_personalization": true,
                    "override_times": []
                  },
                  "interest_preferences": {
                    "disabled_interests": [],
                    "disabled_partner_interests": []
                  },
                  "allow_ads_personalization": true,
                  "use_cookie_personalization": true,
                  "link_logged_out_devices": true,
                  "share_data_with_third_party": true,
                  "is_eu_country": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-client-transaction-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-twitter-active-user",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-twitter-client-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/1.1/account/personalization/sync_optout_settings.json": {
      "post": {
        "tags": [
          "1.1"
        ],
        "operationId": "create11",
        "summary": "POST /1.1/account/personalization/sync_optout_settings.json",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-client-transaction-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-twitter-active-user",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-twitter-client-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/1.1/graphql/ces/p2": {
      "post": {
        "tags": [
          "1.1"
        ],
        "operationId": "create11",
        "summary": "POST /1.1/graphql/ces/p2",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-client-transaction-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-twitter-active-user",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-twitter-client-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sequenceStartTimestampMs": {
                          "type": "number"
                        },
                        "sequenceNumber": {
                          "type": "integer"
                        },
                        "createdAtMs": {
                          "type": "number"
                        },
                        "event": {
                          "type": "object",
                          "properties": {
                            "clientSpanMessage": {
                              "type": "object",
                              "properties": {
                                "v1": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "cesMetadata": {
                                      "type": "object",
                                      "properties": {}
                                    },
                                    "traceId": {
                                      "type": "object",
                                      "properties": {
                                        "mostSignificantBits": {
                                          "type": "string"
                                        },
                                        "leastSignificantBits": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "mostSignificantBits",
                                        "leastSignificantBits"
                                      ]
                                    },
                                    "spanId": {
                                      "type": "integer"
                                    },
                                    "completionInfo": {
                                      "type": "object",
                                      "properties": {
                                        "completionType": {
                                          "type": "integer"
                                        }
                                      },
                                      "required": [
                                        "completionType"
                                      ]
                                    },
                                    "messageSequenceNumber": {
                                      "type": "string"
                                    },
                                    "startTimeMicroseconds": {
                                      "type": "string"
                                    },
                                    "stopTimeMicroseconds": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "cesMetadata",
                                    "traceId",
                                    "spanId",
                                    "completionInfo",
                                    "messageSequenceNumber",
                                    "startTimeMicroseconds",
                                    "stopTimeMicroseconds"
                                  ]
                                }
                              },
                              "required": [
                                "v1"
                              ]
                            }
                          },
                          "required": [
                            "clientSpanMessage"
                          ]
                        }
                      },
                      "required": [
                        "sequenceStartTimestampMs",
                        "sequenceNumber",
                        "createdAtMs",
                        "event"
                      ]
                    }
                  },
                  "header": {
                    "type": "object",
                    "properties": {
                      "createdAtMs": {
                        "type": "number"
                      },
                      "retryAttempt": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "createdAtMs",
                      "retryAttempt"
                    ]
                  }
                },
                "required": [
                  "events",
                  "header"
                ]
              },
              "example": {
                "events": [
                  {
                    "sequenceStartTimestampMs": 1775304379465.8,
                    "sequenceNumber": 0,
                    "createdAtMs": 1775304394468.4,
                    "event": {
                      "clientSpanMessage": {
                        "v1": {
                          "name": "scripts-blocking",
                          "cesMetadata": {},
                          "traceId": {
                            "mostSignificantBits": "3025996947654332",
                            "leastSignificantBits": "6967742699210236"
                          },
                          "spanId": 0,
                          "completionInfo": {
                            "completionType": 0
                          },
                          "messageSequenceNumber": "0",
                          "startTimeMicroseconds": "1775304378105600",
                          "stopTimeMicroseconds": "1775304379484800"
                        }
                      }
                    }
                  }
                ],
                "header": {
                  "createdAtMs": 1775304394468.5,
                  "retryAttempt": 0
                }
              }
            }
          }
        }
      }
    },
    "/1.1/graphql/user_flow.json": {
      "post": {
        "tags": [
          "1.1"
        ],
        "operationId": "create11",
        "summary": "POST /1.1/graphql/user_flow.json",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-client-transaction-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-twitter-active-user",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-twitter-client-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/1.1/guest/activate.json": {
      "post": {
        "tags": [
          "1.1"
        ],
        "operationId": "create11",
        "summary": "POST /1.1/guest/activate.json",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: auth-header:authorization, csrf-header:x-csrf-token, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guest_token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "guest_token"
                  ]
                },
                "example": {
                  "guest_token": "2040401082560528426"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-csrf-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          }
        ]
      }
    },
    "/1.1/hashflags.json": {
      "get": {
        "tags": [
          "1.1"
        ],
        "operationId": "get11",
        "summary": "GET /1.1/hashflags.json",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-client-transaction-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-twitter-active-user",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-twitter-client-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/1.1/jot/client_event": {
      "post": {
        "tags": [
          "1.1"
        ],
        "operationId": "create11",
        "summary": "POST /1.1/jot/client_event",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: auth-header:authorization, csrf-header:x-csrf-token, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "log",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "[{\"context\":\"5RLSW2\",\"event_namespace\":{\"client\":\"aem-business-en\",\"page\":\"advertising\",\"section\":\"page\",\"component\":\"\",\"element\":\"\",\"action\":\"page-view\"},\"event_details\":{\"url\":\"https://business.x.com/en/advertising?ref=gl-tw-tw-twitter-advertise\",\"triggered_on\":\"1775304501151\",\"event_info\":\"gl-tw-tw-twitter-advertise\"},\"format_version\":2,\"_category_\":\"client_event\"}]"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Observed 1 time(s)",
            "example": "1151"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-csrf-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          }
        ]
      }
    },
    "/1.1/onboarding/callback.json": {
      "post": {
        "tags": [
          "1.1"
        ],
        "operationId": "create11",
        "summary": "POST /1.1/onboarding/callback.json",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-client-transaction-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-twitter-active-user",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-twitter-client-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product": {
                    "type": "string"
                  },
                  "identifier": {
                    "type": "string"
                  },
                  "params": {
                    "type": "string"
                  },
                  "timestampMs": {
                    "type": "integer"
                  }
                },
                "required": [
                  "product",
                  "identifier",
                  "params",
                  "timestampMs"
                ]
              },
              "example": {
                "product": "metric-tracking",
                "identifier": "generic-metric-tracking-cb",
                "params": "{\"data\":[{\"dataset\":\"signup_events\",\"signup_event_data\":{\"subtask_id\":\"SignupSSOSubtask\",\"flow_token\":\"g;177530437671307420:-1775304428848:TgmVW3YCjZ9CUC7GkOhze1ZC:0\",\"flow_name\":\"signup\",\"flow_start_location\":\"manual_link\",\"signup_flow_name\":\"signup\"}}]}",
                "timestampMs": 1775304429122
              }
            }
          }
        }
      }
    },
    "/1.1/onboarding/sso_init.json": {
      "post": {
        "tags": [
          "1.1"
        ],
        "operationId": "create11",
        "summary": "POST /1.1/onboarding/sso_init.json",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "state"
                  ]
                },
                "example": {
                  "state": "qdnvWDMhkHc-rYuNEO7ff-JaHu4C9arpu0P8Nxv0rzT"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-client-transaction-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-twitter-active-user",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-twitter-client-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string"
                  }
                },
                "required": [
                  "provider"
                ]
              },
              "example": {
                "provider": "apple"
              }
            }
          }
        }
      }
    },
    "/1.1/onboarding/task.json": {
      "post": {
        "tags": [
          "1.1"
        ],
        "operationId": "create11",
        "summary": "POST /1.1/onboarding/task.json",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: auth-header:authorization, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "flow_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "signup"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-client-transaction-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-guest-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "x-twitter-active-user",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-twitter-client-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input_flow_data": {
                    "type": "object",
                    "properties": {
                      "flow_context": {
                        "type": "object",
                        "properties": {
                          "debug_overrides": {
                            "type": "object",
                            "properties": {}
                          },
                          "start_location": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        },
                        "required": [
                          "debug_overrides",
                          "start_location"
                        ]
                      }
                    },
                    "required": [
                      "flow_context"
                    ]
                  },
                  "subtask_versions": {
                    "type": "object",
                    "properties": {
                      "action_list": {
                        "type": "integer"
                      },
                      "alert_dialog": {
                        "type": "integer"
                      },
                      "app_download_cta": {
                        "type": "integer"
                      },
                      "check_logged_in_account": {
                        "type": "integer"
                      },
                      "choice_selection": {
                        "type": "integer"
                      },
                      "contacts_live_sync_permission_prompt": {
                        "type": "integer"
                      },
                      "cta": {
                        "type": "integer"
                      },
                      "email_verification": {
                        "type": "integer"
                      },
                      "end_flow": {
                        "type": "integer"
                      },
                      "enter_date": {
                        "type": "integer"
                      },
                      "enter_email": {
                        "type": "integer"
                      },
                      "enter_password": {
                        "type": "integer"
                      },
                      "enter_phone": {
                        "type": "integer"
                      },
                      "enter_recaptcha": {
                        "type": "integer"
                      },
                      "enter_text": {
                        "type": "integer"
                      },
                      "enter_username": {
                        "type": "integer"
                      },
                      "generic_urt": {
                        "type": "integer"
                      },
                      "in_app_notification": {
                        "type": "integer"
                      },
                      "interest_picker": {
                        "type": "integer"
                      },
                      "js_instrumentation": {
                        "type": "integer"
                      },
                      "menu_dialog": {
                        "type": "integer"
                      },
                      "notifications_permission_prompt": {
                        "type": "integer"
                      },
                      "open_account": {
                        "type": "integer"
                      },
                      "open_home_timeline": {
                        "type": "integer"
                      },
                      "open_link": {
                        "type": "integer"
                      },
                      "phone_verification": {
                        "type": "integer"
                      },
                      "privacy_options": {
                        "type": "integer"
                      },
                      "security_key": {
                        "type": "integer"
                      },
                      "select_avatar": {
                        "type": "integer"
                      },
                      "select_banner": {
                        "type": "integer"
                      },
                      "settings_list": {
                        "type": "integer"
                      },
                      "show_code": {
                        "type": "integer"
                      },
                      "sign_up": {
                        "type": "integer"
                      },
                      "sign_up_review": {
                        "type": "integer"
                      },
                      "tweet_selection_urt": {
                        "type": "integer"
                      },
                      "update_users": {
                        "type": "integer"
                      },
                      "upload_media": {
                        "type": "integer"
                      },
                      "user_recommendations_list": {
                        "type": "integer"
                      },
                      "user_recommendations_urt": {
                        "type": "integer"
                      },
                      "wait_spinner": {
                        "type": "integer"
                      },
                      "web_modal": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "action_list",
                      "alert_dialog",
                      "app_download_cta",
                      "check_logged_in_account",
                      "choice_selection",
                      "contacts_live_sync_permission_prompt",
                      "cta",
                      "email_verification",
                      "end_flow",
                      "enter_date",
                      "enter_email",
                      "enter_password",
                      "enter_phone",
                      "enter_recaptcha",
                      "enter_text",
                      "enter_username",
                      "generic_urt",
                      "in_app_notification",
                      "interest_picker",
                      "js_instrumentation",
                      "menu_dialog",
                      "notifications_permission_prompt",
                      "open_account",
                      "open_home_timeline",
                      "open_link",
                      "phone_verification",
                      "privacy_options",
                      "security_key",
                      "select_avatar",
                      "select_banner",
                      "settings_list",
                      "show_code",
                      "sign_up",
                      "sign_up_review",
                      "tweet_selection_urt",
                      "update_users",
                      "upload_media",
                      "user_recommendations_list",
                      "user_recommendations_urt",
                      "wait_spinner",
                      "web_modal"
                    ]
                  }
                },
                "required": [
                  "input_flow_data",
                  "subtask_versions"
                ]
              },
              "example": {
                "input_flow_data": {
                  "flow_context": {
                    "debug_overrides": {},
                    "start_location": {
                      "location": "manual_link"
                    }
                  }
                },
                "subtask_versions": {
                  "action_list": 2,
                  "alert_dialog": 1,
                  "app_download_cta": 1,
                  "check_logged_in_account": 1,
                  "choice_selection": 3,
                  "contacts_live_sync_permission_prompt": 0,
                  "cta": 7,
                  "email_verification": 2,
                  "end_flow": 1,
                  "enter_date": 1,
                  "enter_email": 2,
                  "enter_password": 5,
                  "enter_phone": 2,
                  "enter_recaptcha": 1,
                  "enter_text": 5,
                  "enter_username": 2,
                  "generic_urt": 3,
                  "in_app_notification": 1,
                  "interest_picker": 3,
                  "js_instrumentation": 1,
                  "menu_dialog": 1,
                  "notifications_permission_prompt": 2,
                  "open_account": 2,
                  "open_home_timeline": 1,
                  "open_link": 1,
                  "phone_verification": 4,
                  "privacy_options": 1,
                  "security_key": 3,
                  "select_avatar": 4,
                  "select_banner": 2,
                  "settings_list": 7,
                  "show_code": 1,
                  "sign_up": 2,
                  "sign_up_review": 4,
                  "tweet_selection_urt": 1,
                  "update_users": 1,
                  "upload_media": 1,
                  "user_recommendations_list": 4,
                  "user_recommendations_urt": 1,
                  "wait_spinner": 3,
                  "web_modal": 1
                }
              }
            }
          }
        }
      }
    },
    "/api/features.js": {
      "get": {
        "tags": [
          "api"
        ],
        "operationId": "getApi",
        "summary": "GET /api/features.js",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: session-cookie:cookie, security-header:strict-transport-security, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "api"
        ],
        "operationId": "getApi",
        "summary": "GET /api/me",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: csrf-header:x-csrf-token, security-header:strict-transport-security",
        "responses": {
          "400": {
            "description": "Observed status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "errors"
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "message": "Bad Authentication data",
                      "code": 215
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-csrf-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          }
        ]
      }
    },
    "/bin/twitter/i18n.business3.en.json": {
      "get": {
        "tags": [
          "bin"
        ],
        "operationId": "getBin",
        "summary": "GET /bin/twitter/i18n.business3.en.json",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: session-cookie:cookie, security-header:content-security-policy, security-header:strict-transport-security",
        "responses": {
          "200": {
            "description": "Observed status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "example": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/en.model.json": {
      "get": {
        "tags": [
          "en.model.json"
        ],
        "operationId": "getEnModelJson",
        "summary": "GET /en.model.json",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: session-cookie:cookie, security-header:content-security-policy, security-header:strict-transport-security",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/en/advertising.model.json": {
      "get": {
        "tags": [
          "en"
        ],
        "operationId": "getEn",
        "summary": "GET /en/advertising.model.json",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: security-header:content-security-policy, security-header:strict-transport-security",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/en/success-stories.atmosphere.search.json": {
      "get": {
        "tags": [
          "en"
        ],
        "operationId": "searchEn",
        "summary": "GET /en/success-stories.atmosphere.search.json",
        "description": "Observed 1 call(s). Classified as search/unknown. Security signals: session-cookie:cookie, security-header:content-security-policy, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "image": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "data-route": {
                                "type": "boolean"
                              },
                              "target": {
                                "type": "string"
                              },
                              "data-section": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "data-route",
                              "target",
                              "data-section"
                            ]
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "title"
                              ]
                            }
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "image",
                          "attributes",
                          "title",
                          "description",
                          "tags",
                          "url"
                        ]
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "totalResults": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "results",
                    "count",
                    "totalResults"
                  ]
                },
                "example": {
                  "results": [
                    {
                      "image": "/content/dam/business-twitter/sharing-card.png.twimg.768.png",
                      "attributes": {
                        "data-route": false,
                        "target": "_self",
                        "data-section": "search"
                      },
                      "title": "How Naranja X Reached Its iOS Audience with X Ads",
                      "description": "Learn how Naranja X leveraged X Ads to efficiently connect with iOS users and achieve outstanding results in customer acquisition.",
                      "tags": [
                        {
                          "id": "business-twitter:success-stories/business-goals/app-installs",
                          "title": "App installs"
                        },
                        {
                          "id": "business-twitter:success-stories/targeting-types/device-types",
                          "title": "Device types"
                        },
                        {
                          "id": "business-twitter:success-stories/targeting-types/geography",
                          "title": "Geography"
                        },
                        {
                          "id": "business-twitter:success-stories/campaign-type/app-installs-or-engagements",
                          "title": "App installs"
                        },
                        {
                          "id": "business-twitter:success-stories/region/latin-america",
                          "title": "Latin America"
                        }
                      ],
                      "url": "/en/success-stories/naranja-x-ios-success-story"
                    },
                    {
                      "image": "/content/dam/business-twitter/sharing-card.png.twimg.768.png",
                      "attributes": {
                        "data-route": false,
                        "target": "_self",
                        "data-section": "search"
                      },
                      "title": "Unlocking Humor with Naranja X",
                      "description": "We agree that having a loan when you need it is powerful! We give you that little extra money you need at the touch of a button. Download the app and order it!",
                      "tags": [
                        {
                          "id": "business-twitter:success-stories/campaign-type/awareness",
                          "title": "Reach"
                        },
                        {
                          "id": "business-twitter:success-stories/targeting-types/geography",
                          "title": "Geography"
                        },
                        {
                          "id": "business-twitter:success-stories/business-goals/awareness",
                          "title": "Awareness"
                        },
                        {
                          "id": "business-twitter:success-stories/region/global",
                          "title": "Global"
                        },
                        {
                          "id": "business-twitter:success-stories/region/latin-america",
                          "title": "Latin America"
                        },
                        {
                          "id": "business-twitter:success-stories/targeting-types/keywords",
                          "title": "Keywords"
                        },
                        {
                          "id": "business-twitter:success-stories/campaign-type/video",
                          "title": "Video"
                        }
                      ],
                      "url": "/en/success-stories/unlocking-humor-with-naranja-x"
                    },
                    {
                      "image": "/content/dam/business-twitter/sharing-card.png.twimg.768.png",
                      "attributes": {
                        "data-route": false,
                        "target": "_self",
                        "data-section": "search"
                      },
                      "title": "iz Banking Experience",
                      "description": "How Alinma Bank surges iz Banking App launch with X.",
                      "tags": [
                        {
                          "id": "business-twitter:success-stories/business-goals/app-engagements",
                          "title": "App engagements"
                        },
                        {
                          "id": "business-twitter:success-stories/campaign-type/awareness",
                          "title": "Reach"
                        },
                        {
                          "id": "business-twitter:success-stories/campaign-type/app-installs-or-engagements",
                          "title": "App installs"
                        },
                        {
                          "id": "business-twitter:success-stories/targeting-types/geography",
                          "title": "Geography"
                        },
                        {
                          "id": "business-twitter:success-stories/business-goals/awareness",
                          "title": "Awareness"
                        },
                        {
                          "id": "business-twitter:success-stories/campaign-type/takeover",
                          "title": "Takeover"
                        },
                        {
                          "id": "business-twitter:success-stories/campaign-type/tweet-engagements",
                          "title": "Engagements"
                        },
                        {
                          "id": "business-twitter:success-stories/region/middle-east",
                          "title": "Middle East"
                        },
                        {
                          "id": "business-twitter:success-stories/campaign-type/video",
                          "title": "Video"
                        }
                      ],
                      "url": "/en/success-stories/iz_banking_experience_awareness"
                    }
                  ],
                  "count": 3,
                  "totalResults": 59
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "excludePath",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "/content/business-twitter/en/advertising"
          },
          {
            "name": "index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "/content/business-twitter"
          },
          {
            "name": "isAscending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Observed 1 time(s)",
            "example": "false"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Observed 1 time(s)",
            "example": "3"
          },
          {
            "name": "matchAllTags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Observed 1 time(s)",
            "example": "false"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Observed 1 time(s)",
            "example": "0"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "@jcr:created"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": ""
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "card"
          },
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/graphql/{token}/Viewer": {
      "get": {
        "tags": [
          "graphql"
        ],
        "operationId": "getGraphql",
        "summary": "GET /graphql/{token}/Viewer",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: auth-header:authorization, session-cookie:cookie, cors:access-control-allow-credentials, cors:access-control-allow-origin, security-header:strict-transport-security",
        "responses": {
          "404": {
            "description": "Observed status 404"
          }
        },
        "parameters": [
          {
            "name": "features",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "{\"subscriptions_upsells_api_enabled\":false,\"profile_label_improvements_pcf_label_in_post_enabled\":true,\"responsive_web_profile_redirect_enabled\":false,\"rweb_tipjar_consumption_enabled\":false,\"verified_phone_label_enabled\":true,\"creator_subscriptions_tweet_preview_api_enabled\":true,\"responsive_web_graphql_skip_user_profile_image_extensions_enabled\":false,\"responsive_web_graphql_timeline_navigation_enabled\":true}"
          },
          {
            "name": "fieldToggles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "{\"isDelegate\":false,\"withAuxiliaryUserLabels\":true}"
          },
          {
            "name": "variables",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "{\"withCommunitiesMemberships\":true}"
          },
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "origin",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
[...]
