{
  "openapi": "3.0.0",
  "info": {
    "title": "www.reddit.com API Documentation",
    "version": "1.0.0",
    "description": "Auto-generated by WebDoc Agent from observed browser traffic on www.reddit.com.\nAnalyzed 9 API/polling call(s) across 9 endpoint group(s).\nCaptured: 2026-04-04T11:52:31.729Z\nSource: https://www.reddit.com | 9 total calls | 9 unique endpoints\nPages explored: Home, US fighter jet shot down US fighter jet shot down over Iran, US sources say r/po, WH defense budget request White House requests giant $1.5 trillion defense budge, March jobs report March jobs report: US economy adds 178,000 jobs, unemployment , Artemis II NASA photo “Hello, World”: NASA releases new high-res images of our h, Aragorn to be recast Aragorn’s Recast In New Lord Of The Rings Movie Officially , Animorphs series in the works ‘Animorphs’ TV Series in Development at Disney+, R, Match Thread: 8th Match - Delhi Capitals vs Mumbai Indians\nSession duration: 3m 35s\nSecurity signals: security-header:content-security-policy, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options, cors:access-control-allow-headers, cors:access-control-allow-methods, cors:access-control-allow-origin, session-cookie:cookie"
  },
  "servers": [
    {
      "url": "https://www.reddit.com"
    }
  ],
  "paths": {
    "/policy": {
      "get": {
        "tags": [
          "policy"
        ],
        "operationId": "getPolicy",
        "summary": "GET /policy",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: cors:access-control-allow-methods, cors:access-control-allow-origin, cors:access-control-allow-headers",
        "responses": {
          "204": {
            "description": "Observed status 204"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/reports": {
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "createReport",
        "summary": "POST /reports",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: cors:access-control-allow-headers, cors:access-control-allow-methods, cors:access-control-allow-origin, security-header:strict-transport-security, security-header:x-content-type-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "age": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "user_agent": {
                      "type": "string"
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "sampling_fraction": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "value": {
                          "type": "integer"
                        },
                        "labels": {
                          "type": "object",
                          "properties": {
                            "auth_state": {
                              "type": "string"
                            },
                            "browser": {
                              "type": "string"
                            },
                            "deployment_type": {
                              "type": "string"
                            },
                            "device_type": {
                              "type": "string"
                            },
                            "page_type": {
                              "type": "string"
                            },
                            "referrer_type": {
                              "type": "string"
                            },
                            "xpromo_name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "auth_state",
                            "browser",
                            "deployment_type",
                            "device_type",
                            "page_type",
                            "referrer_type",
                            "xpromo_name"
                          ]
                        }
                      },
                      "required": [
                        "sampling_fraction",
                        "type",
                        "name",
                        "value",
                        "labels"
                      ]
                    }
                  },
                  "required": [
                    "age",
                    "type",
                    "url",
                    "user_agent",
                    "body"
                  ]
                }
              },
              "example": [
                {
                  "age": 1756,
                  "type": "reddit-w3reporting",
                  "url": "",
                  "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
                  "body": {
                    "sampling_fraction": 1,
                    "type": "counter",
                    "name": "shreddit_xpromo_views",
                    "value": 1,
                    "labels": {
                      "auth_state": "logged_out",
                      "browser": "chrome",
                      "deployment_type": "main",
                      "device_type": "desktop",
                      "page_type": "popular",
                      "referrer_type": "reddit",
                      "xpromo_name": "top_button"
                    }
                  }
                },
                {
                  "age": 539,
                  "type": "reddit-w3reporting",
                  "url": "",
                  "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
                  "body": {
                    "sampling_fraction": 1,
                    "type": "counter",
                    "name": "shreddit_xpromo_views",
                    "value": 1,
                    "labels": {
                      "auth_state": "logged_out",
                      "browser": "chrome",
                      "deployment_type": "main",
                      "device_type": "desktop",
                      "page_type": "popular",
                      "referrer_type": "reddit",
                      "xpromo_name": "top_button"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/svc/shreddit/{token}": {
      "get": {
        "tags": [
          "svc"
        ],
        "operationId": "getSvc",
        "summary": "GET /svc/shreddit/{token}",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-reddit-client-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-reddit-retry",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/svc/shreddit/events": {
      "post": {
        "tags": [
          "svc"
        ],
        "operationId": "createSvc",
        "summary": "POST /svc/shreddit/events",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: security-header:content-security-policy, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-sh-fe-end-timestamp",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-sh-microapp-route",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/svc/shreddit/graphql": {
      "post": {
        "tags": [
          "svc"
        ],
        "operationId": "createSvc",
        "summary": "POST /svc/shreddit/graphql",
        "description": "Observed 1 call(s). Classified as create/unknown. Security signals: session-cookie:cookie, security-header:content-security-policy, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "exposeExperiment": {
                          "type": "object",
                          "properties": {
                            "ok": {
                              "type": "boolean"
                            },
                            "errors": {
                              "nullable": true
                            }
                          },
                          "required": [
                            "ok",
                            "errors"
                          ]
                        }
                      },
                      "required": [
                        "exposeExperiment"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "operation": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "errors",
                    "operation"
                  ]
                },
                "example": {
                  "data": {
                    "exposeExperiment": {
                      "ok": true,
                      "errors": null
                    }
                  },
                  "errors": [],
                  "operation": "ExposeVariant"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "content-length",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "origin",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "string"
                  },
                  "variables": {
                    "type": "object",
                    "properties": {
                      "input": {
                        "type": "object",
                        "properties": {
                          "experimentName": {
                            "type": "string"
                          },
                          "variant": {
                            "type": "string"
                          },
                          "experimentVersion": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "experimentName",
                          "variant",
                          "experimentVersion"
                        ]
                      }
                    },
                    "required": [
                      "input"
                    ]
                  },
                  "csrf_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "operation",
                  "variables",
                  "csrf_token"
                ]
              },
              "example": {
                "operation": "ExposeVariant",
                "variables": {
                  "input": {
                    "experimentName": "web3x_search_bar_ask_button",
                    "variant": "enabled",
                    "experimentVersion": "8"
                  }
                },
                "csrf_token": "02619bcb2cef6b53e85be628325db570"
              }
            }
          }
        }
      }
    },
    "/svc/shreddit/partial/J7VVLM/common-left-nav": {
      "get": {
        "tags": [
          "svc"
        ],
        "operationId": "getSvc",
        "summary": "GET /svc/shreddit/partial/J7VVLM/common-left-nav",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: session-cookie:cookie, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "{\"selectedPageType\":\"popular\"}"
          },
          {
            "name": "sig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "v1.NnTFgE5YTm5RToaKRvZVrT7rpKOvcCMWuc4VQj3jpTI"
          },
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-reddit-client-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "x-reddit-retry",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/svc/shreddit/set-session-storage": {
      "post": {
        "tags": [
          "svc"
        ],
        "operationId": "postAuthAction",
        "summary": "POST /svc/shreddit/set-session-storage",
        "description": "Observed 1 call(s). Classified as auth/unknown. Security signals: session-cookie:cookie, security-header:content-security-policy, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "example": {
                  "success": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "content-length",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "origin",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "csrf_token": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ]
                    }
                  }
                },
                "required": [
                  "csrf_token",
                  "data"
                ]
              },
              "example": {
                "csrf_token": "02619bcb2cef6b53e85be628325db570",
                "data": [
                  {
                    "key": "recent_subreddits_store",
                    "value": "[]"
                  },
                  {
                    "key": "local_storage_migration_status",
                    "value": "{\"recent-subreddits-store\":true}"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/svc/shreddit/styling-overrides": {
      "get": {
        "tags": [
          "svc"
        ],
        "operationId": "getSvc",
        "summary": "GET /svc/shreddit/styling-overrides",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: security-header:content-security-policy, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "example": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Observed 1 time(s)",
            "example": "0"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    },
    "/svc/shreddit/update-recaptcha": {
      "get": {
        "tags": [
          "svc"
        ],
        "operationId": "getSvc",
        "summary": "GET /svc/shreddit/update-recaptcha",
        "description": "Observed 1 call(s). Classified as detail/unknown. Security signals: session-cookie:cookie, security-header:content-security-policy, security-header:strict-transport-security, security-header:x-content-type-options, security-header:x-frame-options",
        "responses": {
          "200": {
            "description": "Observed status 200"
          }
        },
        "parameters": [
          {
            "name": "k",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed 1 time(s)",
            "example": "cG9wdWxhcnxpbml0aWFsfGRkNjRlYjVkLWRmNzItNGVkNy1hNmExLWE0YTdlNmY4ODIwZg"
          },
          {
            "name": ":authority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":method",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":path",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": ":scheme",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "cookie",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sensitive header"
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed header"
          }
        ]
      }
    }
  }
}